<!DOCTYPE html>
<html>
<body>
    <br>
    {% if trickery %}
        you can't beat the system man
    {% else %}
        {% if log and pw %}
            Good job typing your password!
            {% if new %}
                <br />Also, you have registered.
            {% endif %}
        {% else %}
            {% if new %}
                Username has already been registered.
            {% else %}
                The {{ 'username' if not log else 'password' }} was wrong.<br />
            {% endif %}
        {% endif %}
    {% endif %}
</body>
</html>
