<!DOCTYPE html>
<html>
<head>
    <title>Authentication</title>
</head>
<body>
    {% if trickery %}
        you can't beat the system man
    {% else %}
        {% if log and pw %}
            You have logged in successfully. Have this as a reward. <br />
            <img src="https://valuesbasedbusiness.files.wordpress.com/2015/05/gold-star.png?w=490" alt="log in star" />
            {% if new %}
                <br />Also, you have registered.
            {% endif %}
        {% else %}
            {% if new %}
                Username has already been registered.
            {% else %}
                The {{ 'username' if not log else 'password' }} was wrong.<br />
            {% endif %}
            <a href='/'>Try again</a>
        {% endif %}
    {% endif %}
</body>
</html>
